<?xml version="1.0"?>
<!--
/**
*ClipVilla Video Producer
*
*The ClipVilla Video Producer's code is created by ClipVilla GmbH. 
*If the code is completely or partially changed by a third party all guarantee and warranty claims against ClipVilla GmbH will be invalidated.
*
* NOTICE OF LICENSE
*
* This source file is subject to the GNU General Public License (GPLv3)
* It is available through the world-wide-web at this URL:
* http://www.gnu.org/licenses/quick-guide-gplv3.html.en
*/
-->
<config>
    <modules>
        <ClipVilla_MorI>
            <version>1.0.0</version>
        </ClipVilla_MorI>
    </modules>
    <global>
        <models>
            <clipvilla_mori>
                <class>ClipVilla_MorI_Model</class>
                <resourceModel>clipvilla_mori_resource</resourceModel>
            </clipvilla_mori>
            <clipvilla_mori_resource>
                <class>ClipVilla_MorI_Model_Resource</class>
                <entities>
                    <videos>
                        <table>clipvilla_videos</table>
                    </videos>
                    <stack>
                        <table>clipvilla_stack</table>
                    </stack>
                </entities>
            </clipvilla_mori_resource>
        </models>
        <blocks>
            <clipvilla_mori>
                <class>ClipVilla_MorI_Block</class>
            </clipvilla_mori>
        </blocks>
        <helpers>
            <clipvilla_mori>
                <class>ClipVilla_MorI_Helper</class>
            </clipvilla_mori>
        </helpers>
        <resources>
            <clipvilla_mori_setup>
                <setup>
                    <module>ClipVilla_MorI</module>
                </setup>
            </clipvilla_mori_setup>
        </resources>
        <events>
            <controller_action_layout_render_before_adminhtml_catalog_product_edit>
                <observers>
                    <clipvilla_mori_add_button>
                        <class>clipvilla_mori/observer_productEditForm</class>
                        <method>addCustomButtons</method>
                    </clipvilla_mori_add_button>
                </observers>
            </controller_action_layout_render_before_adminhtml_catalog_product_edit>
            <adminhtml_catalog_product_edit_prepare_form>
                <observers>
                    <clipvilla_mori_test>
                        <class>clipvilla_mori/observer_productEditForm</class>
                        <method>addTemplateName</method>
                    </clipvilla_mori_test>
                </observers>
            </adminhtml_catalog_product_edit_prepare_form>
            <catalog_product_new_action>
                <observers>
                    <clipvilla_mori_new_product>
                        <class>clipvilla_mori/observer_defaultValues</class>
                        <method>setDefaultValues</method>
                    </clipvilla_mori_new_product>
                </observers>
            </catalog_product_new_action>
            <catalog_product_edit_action>
                <observers>
                    <clipvilla_mori_set_fields>
                        <class>clipvilla_mori/observer_defaultValues</class>
                        <method>setDefaultValues</method>
                    </clipvilla_mori_set_fields>
                </observers>
            </catalog_product_edit_action>
            <catalog_product_save_before>
                <observers>
                    <clipvilla_mori_set_empty_fields>
                        <class>clipvilla_mori/observer_defaultValues</class>
                        <method>setEmptyAttributes</method>
                    </clipvilla_mori_set_empty_fields>
                </observers>
            </catalog_product_save_before>
            <catalog_product_prepare_save>
                <observers>
                    <clipvilla_mori_delete_fields>
                        <class>clipvilla_mori/observer_defaultValues</class>
                        <method>deleteValues</method>
                    </clipvilla_mori_delete_fields>
                </observers>
            </catalog_product_prepare_save>
            <catalog_product_delete_after>
                <observers>
                    <clipvilla_mori_delete_fields>
                        <class>clipvilla_mori/observer_videoData</class>
                        <method>deleteAll</method>
                    </clipvilla_mori_delete_fields>
                </observers>
            </catalog_product_delete_after>
            <catalog_product_save_after>
                <observers>
                    <clipvilla_mori_save_fields>
                        <class>clipvilla_mori/observer_videoData</class>
                        <method>saveValues</method>
                    </clipvilla_mori_save_fields>
                </observers>
            </catalog_product_save_after>
        </events>
        <index>
            <indexer>
                <clipvilla_indexer>
                    <model>clipvilla_mori/indexer</model>
                </clipvilla_indexer>
            </indexer>
        </index>
        <template>
            <email>
                <clipvilla_mail>
                    <label>ClipVilla Error Email</label>
                    <file>clipvilla.html</file>
                    <type>html</type>
                </clipvilla_mail>
            </email>
        </template>
    </global>
    <frontend>
        <layout>
            <updates>
                <clipvilla_mori>
                    <file>clipvilla.xml</file>
                </clipvilla_mori>
            </updates>
        </layout>
    </frontend>
    <default>
        <clipvilla>
            <configuration>
                <video_folder>media/clipvilla/videos</video_folder>
            </configuration>
            <custom_data>
                <default_template>15</default_template>
            </custom_data>
            <rendering>
                <messages>1</messages>
            </rendering>
        </clipvilla>
    </default>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <clipvilla_mori before="Mage_Adminhtml">ClipVilla_MorI_Adminhtml</clipvilla_mori>
                    </modules>
                </args>
            </adminhtml>
            <manageVideos>
                <use>admin</use>
                <args>
                    <module>ClipVilla_MorI</module>
                    <frontName>admin_manageVideos</frontName>
                </args>
            </manageVideos>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <clipvilla_mori>
                    <file>clipvilla.xml</file>
                </clipvilla_mori>
            </updates>
        </layout>
        <events>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <newmodule_core_block_abstract_prepare_layout_before>
                        <class>clipvilla_mori/observer_massAction</class>
                        <method>addRenderAll</method>
                    </newmodule_core_block_abstract_prepare_layout_before>
                </observers>
            </core_block_abstract_prepare_layout_before>
        </events>
    </adminhtml>
    <crontab>
        <jobs>
            <clipvilla_video>
                <schedule>
                    <cron_expr>*/1 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>clipvilla_mori/videoCron::generateVideo</model>
                </run>
            </clipvilla_video>
            <clipvilla_video_sitemap>
                <schedule>
                    <cron_expr>0 3 * * *</cron_expr>
                </schedule>
                <run>
                    <model>clipvilla_mori/videoCron::generateVideoSitemap</model>
                </run>
            </clipvilla_video_sitemap>
        </jobs>
    </crontab>
</config>